:root {
  --skin: #f6c09c;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
  --pink: #ed927d;
  --pink-dark: #eb666a;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head {
  width: 245px;
  height: 450px;
  background: var(--skin);
  border-radius: 140px 140px 150px 150px;
  position: relative;
}

.eye-left {
  width: 70px;
  height: 50px;
  background: var(--white);
  position: absolute;
  top: 125px;
  border-radius: 8px 8px 50px 50px;
  left: 60px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.eye-right {
  width: 70px;
  height: 50px;
  background: var(--white);
  position: absolute;
  top: 125px;
  border-radius: 8px 8px 50px 50px;
  right: 60px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.pupil {
  position: absolute;
  width: 11px;
  height: 11px;
  background: var(--black);
  border-radius: 50%;
  top: 12px;
}

.nose {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--skin);
  position: absolute;
  top: 165px;
  left: 122px;
  transform: translate(-50%, 0);
  z-index: 5;
}

.beard {
  width: 252px;
  height: 290px;
  background: var(--black);
  border-radius: 100px 100px 150px 150px;
  position: absolute;
  top: 190px;
  left: -3px;
}

.mouth {
  width: 105px;
  height: 55px;
  border-radius: 0 0 50px 50px;
  background: var(--dark-red);
  top: 60px;
  position: absolute;
  left: 126px;
  transform: translate(-50%, 0);
  overflow: hidden;
}

.teeth {
  width: 80px;
  height: 18px;
  background: var(--white);
  border-radius: 0 0 12px;
}

.tongue {
  width: 52px;
  height: 26px;
  background: var(--red);
  bottom: 0;
  position: absolute;
  border-radius: 0px 13px 0 0;
}

.ear-left {
  width: 35px;
  height: 50px;
  background: var(--pink);
  border-radius: 50px 0 0 50px;
  position: absolute;
  top: 150px;
  left: -35px;
}

.ear-right {
  width: 35px;
  height: 50px;
  background: var(--pink);
  border-radius: 0 50px 50px 0;
  position: absolute;
  top: 150px;
  right: -35px;
}

.shell-1 {
  width: 8px;
  height: 23px;
  background: var(--pink-dark);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-75%, -50%) rotate(45deg);
  border-radius: 30px;
}

.shell-2 {
  width: 8px;
  height: 23px;
  background: var(--pink-dark);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-75%, -50%) rotate(135deg);
  border-radius: 30px;
}

.shell-3 {
  width: 8px;
  height: 23px;
  background: var(--pink-dark);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(75%, -50%) rotate(45deg);
  border-radius: 30px;
}

.shell-4 {
  width: 8px;
  height: 23px;
  background: var(--pink-dark);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(75%, -50%) rotate(135deg);
  border-radius: 30px;
}
